html {
  background-color: #edc893;
}
body {
  margin: 0;
  background-color: #edc893;
}

#homeContainer {
  background-image: url("../images/Photo.jpg");
  background-size: cover;
  object-fit: contain;
  height: 100vh;
  width: 100vw;
}
.dimmer {

  position: relative;
  background-color: black;
  height: 100vh;
  opacity: 0.5;
}
.home-body-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.home-body-container {
  display: grid;
  grid-template-rows: 75px auto;
  height: 100%;
  width: 100%;
  max-width: 800px;
  padding: 1em;
}
.navbar-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20%;
}
.home-navbar {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
.home-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid rgb(0,0,0,0);
  text-align: center;
  text-decoration: none;
}
.white-nav {
  color: white;
}
.white-nav:hover {
  border-bottom: 3px solid orange;
  color: white;
}
.white-nav:active {
  color: white;
}
.black-nav {
  color: black;
}
.black-nav:hover {
  border-bottom: 3px solid white;
  color: black;
}
.black-nav:active {
  color: black;
}
.navbar-option-container:hover {
  cursor: pointer;
  text-decoration: none;
}
.navbar-option-container:active {
  color: inherit;
}
.navbar-option {
  text-align: center;
  width: 100%;

  margin: 0;
  text-decoration: none;
}
.navbar-option:hover {
  text-decoration: none;
  color: inherit;
}
.navbar-option:active {
  text-decoration: none;
  color: inherit;
}
.white-option:active {
  color: white;
}
.black-option:active {
  color: black;
}

.home-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  height: 75%;
  border: 3px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1em;
}

.name {
  color: white;
  font-size: 5em;
  font-family: arial;
  padding-left: 0.15em;
}
.top-name {
  margin: -0.15em 0 -0.5em 0;
}
.home-description {
  text-align: center;
  font-style: italic;
  font-size: 2em;
  color: white;
}
.home-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 1em 0.5em 0;
}
.home-link-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 0.5em;
}
.home-link {
  border: white solid 3px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1em;
  width: 150px;
  color: white;
  margin-top: 0.5em;
  text-align: center;
}
.home-link:hover {
  box-shadow: 3px 3px orange;
  border: orange solid 3px;
}

.home-link-text {
  text-decoration: none;
  color: white;
}
.home-link-text:hover {
  color: white;
  text-decoration: none;
}
.hr-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  margin: 0.5em auto 0 auto;

}
hr {
  border-bottom: white solid 5px;
  margin: 0;
  width: 100%;
}
.home-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* TITLE */
.title-container {
  margin: 0;
  height: auto;
  background-color: inherit;
}
.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  margin: 0em 0 0.25em 0;
  background-color: inherit;
}
.line {
  height: 5px;
  background-color: white;
  margin-bottom: 1em;
}

/* WORK */
.work-body-container {
  display: grid;
  grid-template-rows: 75px auto;
  width: 100%;
  max-width: 800px;
  padding: 1em;
}
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffec73;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2em;
}
.project-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 35vw;
  max-width: 400px;
  max-height: 270px;
}

.work-container {
  background-color: #edc893;
}
.work-photo {
  object-fit: fill;
  width: auto;
  height: 100%;

}
.project-text {

}
.work-title {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 2.5em;
margin-bottom: 0.25em;
margin-top: 0.1em;
}
.work-language {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  color: black;
  font-weight: bold;
}
.work-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  direction: ltr;
}
.work-link-wrapper {
  display: flex;
  flex-direction: row;
}
.work-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid black;
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
  text-align: center;
  margin: 0.5em 1em 0 0;
}

.work-link-container:hover {
border-bottom: 3px solid white;
cursor: pointer;
}
.work-link {
  text-decoration: none;
  color: black;
  padding: 0.15em;
}
.work-link:hover {
  text-decoration: none;
  color: black;
}
.about-container-wrapper {
  display: grid;
  grid-template-rows: 75px 150px auto auto;
  height: 100%;
  width: 100%;
  max-width: 800px;
  padding: 1em;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 2em;
  width: 100%;
  margin: 1em 0 2em 0;
}
.about-photo-container {
  height: 50vw;
  width: 40vw;
  max-height: 350px;
  max-width: 320px;

  margin: 0 0em 0 0em;
}
.about-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-text {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;

}
/* CONTACT */
.contact-wrapper {
  width: 100%;
  max-width: 800px;
  background-color: #edc893;
  padding: 0 0.5em 0 0.5em;

}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edc893;
}
.contact-message {
  text-align: left;
  width: 80%;
}
.contact-email {
  color: rgb(75,100,150);
  text-decoration: none;
}
.contact-email:hover {
  text-decoration: none;
  cursor: pointer;
}
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.input {
  background-color: rgb(0,0,0,0);
  padding: 1em;
  font-size: 1.2em;
  margin: 0.25em 0 0.25em 0;
  border: white solid 2px;
  border-radius: 0px;
  width: 100%;
}
textarea {
  height: 10em;
}
.input::placeholder {
  color: black;
}
.input:hover {
  border: black solid 2px;
}
.input:focus {
  border: black solid 2px;
  background-color: #f5e3c1;
  outline: 0;
}
.red-border {
  border: 2px solid red;
}
.input-submit {
  align-self: flex-start;
  background-color: rgb(0,0,0,0);
  border: none;
  border-bottom: 3px solid black;
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
  text-align: center;
  margin: 0.5em 1em 0 1em;
}
.input-submit:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}
.input-submit:active {
  outline: none;
}
.contact-warning {
  display: none;
  color: red;
  margin: none;
}
@media screen and (max-width: 700px) {
    .navbar-container {
      grid-template-columns: auto;
    }
    .home-navbar {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .home-social {
      display: none;
    }
    .home-content {
      width: 80%;
      height: 80%;
    }
    .name {
      font-size: 4em;
    }
    .top-name {
      margin: -0.15em 0 -0.5em 0;
    }

    .home-description {
      text-align: center;
      font-style: italic;
      font-size: 1.5em;
      color: white;
    }
    .project-container {
      grid-template-rows: auto auto;
      grid-template-columns: auto;
      align-items: center;
    }
    .project-photo-container {
      width: 100%;
      height: 100%;
      margin: auto;

    }
    .work-link-wrapper {
      justify-content: flex-end;
    }

}
@media screen and (max-height: 650px) {
  .home-description {
    display: none;
  }

}
